@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url("/assets/images/bg.svg");
}

.bg-brand {
	background-image: linear-gradient(
		to right top,
		#081c15,
		#0c231a,
		#0f2a20,
		#133125,
		#16392b,
		#193f30,
		#1c4634,
		#1f4c39,
		#22533e,
		#265b44,
		#296249,
		#2d6a4f
	);
}
/*
CUSTOM SCROLLBAR
*/
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #424242;
}
::-webkit-scrollbar-thumb {
	background: #686868;
}
::-webkit-scrollbar-thumb:hover {
	background: #7b7b7b;
}
